# Ignore all logfiles and tempfiles.
log/**/*
tmp/*
!log/.keep
!tmp/.keep

.bundle
.ruby-version
public/assets
public/packs
public/packs_dev
public/fonts
storage
node_modules

# Ignore master key for decrypting credentials and more.
config/master.key
config/credentials/staging.key
config/credentials/production.key
config/credentials/development.yml.enc
config/credentials/test.yml.enc
config/database.yml
config/webpacker.yml
config/certs
config/alipay_rsa2.pem

vendor/bundle
