# Ignore all logfiles and tempfiles.
log
tmp
!log/.keep
!tmp/.keep

.bundle
.ruby-version
public/assets
public/packs
storage
node_modules

# Ignore master key for decrypting credentials and more.
config/master.key
config/database.yml
config/webpacker.yml
config/certs
