
<dl class="media-body dl-horizontal">

  <% unless @product.sales.blank? %>
    <dt>推荐服务：</dt>
  <% end %>

  <% @product.sales.each do |sale| %>
    <dd>
      <span><%= image_tag sale.suggest.logo_url, :height => '15', :width => '15' %></span>
      <span><%= link_to sale.suggest.title, product_path(sale.good) %></span>
      <span class="price"><i>¥</i><b><%= sale.suggest.price %></b></span>
    </dd>
  <% end %>
</dl>


