<%= render 'org/admin/base/choose_nav' %>
<div class="ui vertical fluid accordion menu">
  <%= render 'auth/admin/base/auth_nav' %>
  <%= render 'org/admin/base/org_nav' %>
  <%= render 'wechat/admin/base/wechat_nav' %>
</div>
