<%= render 'filter' %>

<div class="weui-form-preview">
  <% @escorts.each do |escort| %>
    <div class="weui-form-preview__bd">
      <%= render partial: 'escort', locals: { escort: escort } %>
    </div>
    <div class="weui-form-preview__ft">
      <%= link_to '认领任务', pickup_my_escort_path(escort), method: :patch, data: { confirm: '请确认是否接受此任务' }, class: 'weui-form-preview__btn weui-form-preview__btn_primary' %>
    </div>
  <% end %>
</div>

<%= paginate @escorts %>
