<%= render 'filter' %>

<div class="weui-form-preview">
  <% @escorts.each do |escort| %>
    <div class="weui-form-preview__bd">
      <%= render partial: 'escort', locals: { escort: escort } %>
    </div>
    <% unless escort.done? %>
    <div class="weui-form-preview__ft">
      <%= link_to '完成', done_my_escort_path(escort), method: :patch, data: { confirm: '请确认是否已送医务人员到达' }, class: 'weui-form-preview__btn weui-form-preview__btn_primary' %>
    </div>
    <% end %>
  <% end %>
</div>

<%= paginate @escorts %>
