<div class="ui modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    Edit Manager
  </div>

  <div class="content">
    <%= form_for model: @manager, scope: :manager, url: admin_manager_path do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>

</div>
