
<div class="item">
  <span class="header">接项目</span>
  <div class="menu">
    <%= link_to '我的职位', my_workers_path, class: active_helper(controllers: ['workers']) %>
    <%= link_to '我的团队', my_teams_path, class: active_helper(controllers: ['teams']) %>
    <%= link_to '空间管理', my_spaces_path, class: active_helper(controllers: ['spaces']) %>
  </div>
</div>






