<div class="ui segment breadcrumb">
  <%= link_to 'Back', wechat_users_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= render 'form' %>
</div>