<div class="weui-panel weui-panel_access">
  <div class="weui-panel__bd">
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" src="<%= @wechat_user.avatar_url %>" alt="">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title"><%= @wechat_user.name %></h4>
        <p class="weui-media-box__desc"></p>
      </div>
    </a>
  </div>
</div>
