


<div class="ui segment">
  <h3>订单处理流程</h3>

  <div class="ui items">
    <div class="item">等待供应商开始处理，供应商： <%= @order_item.provider.name %></div>
  </div>
  <% if @facilitate_provider %>

  <% end %>
</div>
