<% content_for :title, '律嗒' %>

<h1 class="ui center aligned header" style="margin-top: 3em;">安卓版本锐意开发中，敬请期待</h1>

<h1 class="ui center aligned header" style="margin-top: 3em;">iPhone用户请点<a href="https://itunes.apple.com/cn/app/id1071073394">这里</a></h1>
