<section class="hero is-info is-medium is-bold bg_banner" style="margin-bottom: 1em;">
  <div class="hero-body container has-text-centered">
    <h1 class="title">One Work</h1>
    <h2 class="subtitle">
      Any<span class="has-text-warning">One</span>, Anytime, Anywhere, Any <span class="has-text-warning">Work</span>
    </h2>
    <h2 class="subtitle">你唯一的工作方式</h2>
  </div>
</section>

<section class="hero is-success is-bold" style="margin-bottom: 1em;">
  <div class="container tile is-parent">
    <div class="tile is-vertical is-8 is-info">
      <h3 class="subtitle">自由办公</h3>
      <div class="content">
        <p>One Work 是一个云端的办公空间，致力于连接任何地区、任何时区的办公成员。</p>
        <p>我们鼓励企业采用弹性办公空间，不必预留多余的工位，来自全球各地的办公空间供你选择，无论是固定工位还是专属办公室。不再局限人才来自的地域，员工可就近选择办公地点，为员工节约通勤成本变相等于员工的有效工时增加。有效节约企业内部成本及社会成本。</p>
      </div>
    </div>
    <div class="tile is-4 is-primary">
    </div>
  </div>
</section>

<section class="hero is-primary is-bold" style="margin-bottom: 1em;">
  <div class="container tile is-parent">
    <div class="tile is-4"></div>
    <div class="tile is-vertical is-8 is-warning">
      <h3 class="subtitle">按需雇佣</h3>
      <div class="content">
        <p>One Work 是一个超级人才库，也是一个超级团队库。我们相信团队组合更能凸显人才的价值，你无须雇佣一个极其优秀架构师的全部时间，创业项目也不用受薪水支出所限而无法得到一名技术带头人的指点。</p>
        <p>不用担心会陷入繁重的简历筛选漩涡中，你所做的只是发布项目需求和团队配置。One.Work 会协助你找到最佳的团队成员组合。</p>
        <p>作为优秀的人才，通过聪明的团队配置，你可以在不同的团队中扮演不同的角色，让个人生产力和回报最大化。</p>
      </div>
    </div>
  </div>
</section>
