<div class="weui-panel">
  <div class="weui-panel__hd">
    湖北医护人员志愿服务平台
  </div>
  
  <div class="weui-panel__bd" style="font-size: 12px;">
    <%= image_pack_tag 'weixin.png', height: 100 %>
    <p>请使用者关注微信公众号以便接受系统消息</p>
    <p>医护人员发送的需求被志愿者领取后将会收到包含志愿者联系方式的通知</p>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <%= link_to '注册志愿者', list_my_requirements_path, class: 'weui-btn weui-btn_primary' %>
    <%= link_to '我是医护人员', my_requirements_path, class: 'weui-btn weui-btn_primary' %>
  </div>
</div>
