<div class="weui-panel">
  <% if current_user %>
  <a class="weui-cell weui-cell_access weui-cell_example">
    <div class="weui-cell__hd">
      <%= image_tag current_user.avatar, class: 'avatar' if current_user.avatar.attached? %>
    </div>
    <div class="weui-cell__bd weui-cell_primary">
      <p><%= current_user.name %></p>
    </div>
    <span class="weui-cell__ft"></span>
  </a>
  <% end %>
</div>

<div class="weui-cells">
  <%= link_to my_orders_path, class: 'weui-cell weui-cell_access' do %>
    <div class="weui-cell__hd">
      <i class="fas fa-user-alt"></i>
    </div>
    <div class="weui-cell__bd weui-cell_primary">
      <p>我的订单</p>
    </div>
    <span class="weui-cell__ft"></span>
  <% end %>
</div>

<button class="weui-btn" data-controller="wechat" data-action="wechat#close">关闭</button>
