<div class="weui-panel">
  <div class="weui-panel__hd" style="text-align: center;">
    湖北医护人员志愿服务平台
  </div>
  <div class="weui-panel__bd" style="font-size: 12px;">
    <div class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <%= image_tag 'https://assets.one.work/weixin.jpg', height: 150, class: 'weui-media-box__thumb' %>
      </div>
      <div class="weui-media-box__bd">
        <div class="weui-media-box__desc">
          <p>请使用者关注微信公众号以便接受系统消息</p>
          <p>医护人员发送的需求被志愿者领取后将会收到包含志愿者联系方式的通知</p>
        </div>
      </div>
    </div>
    <div class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd" style="font-size: 12px;">
        <%= image_tag 'https://assets.one.work/kefu1.jpg', height: 150, class: 'weui-media-box__thumb' %>
      </div>
      <div class="weui-media-box__bd">
        <div>客服人员微信</div>
        <p>客服人员电话：15671598569</p>
      </div>
    </div>
  </div>
  <div class="weui-panel__ft">
    <div class="weui-panel__bd">
      <%= link_to '注册志愿者', list_my_requirements_path, class: 'weui-btn weui-btn_primary' %>
      <%= link_to '我是医护人员', my_requirements_path, class: 'weui-btn weui-btn_primary' %>
    </div>
  </div>
</div>

<div class="weui-article" style="font-size: 11px; padding: 10px 20px;">
  <h2>湖北抗疫公益民间志愿者司机运输管理运输条例须知：</h2>
  <h3>注：志愿者参加此次志愿服务活动时，必须严格遵守国家的法律，法规以及各地方单位相关性的公共行为准则，个人行为道德。遵守联控指挥部关于疫情防控各项规定，科学规范做好个人防护。</h3>
  <ol>
    <li>所有的志愿者司机在每一次上路行驶运输医疗物资之前，（必须确保自身没有感染的情况下）做好自身安全防护。佩戴口罩，密封性良好护目镜（有孔的不行），手套，防护服。每次运送完毕保持车辆消毒。</li>
    <li>志愿者司机仅限运输捐赠或采购的送到抗疫一线的医疗物资和志愿者物资。运输前后请务必核对好数目，类别。并及时在群里反馈当前信息，送达后拍照留存发送到车队群，并保存各医院签收函，统一归档登记管理。到医院后请医护人员保持安全距离。</li>
    <li>物资运到后与接收人联系，与接收人协商好接收地点。交接货物时务必核实收货人身份信息再进行交接。交接完毕 告知医护人员，必须填写接收单据并拍照发给司机留证。</li>
    <li>所有志愿者司机在运输医疗物资途中必须严格遵守当地交通法制法规，不得有超重超载，超速违规的行为。并向各车队领队递交真实有效的车辆信息，身份信息，以及现阶段联系方式。以便统一登记管理。</li>
    <li>所有志愿者在参与新冠状病毒志愿者行动时，车队管理群应及时对接专业部门，做好岗前培训，做到培训不合格不上路，防护措施不到位不上路，车辆不合格不上路三个原则。</li>
  </ol>
  <p>注明：此次新冠状病毒志愿者活动均属个人自愿行为，参与志愿者为年满18以上公民成年人，具有完全民事行为能力，谁完全民事行为能力人。免责声明：本平台只为更好服务此次抗疫工作，所有志愿者均为个人自愿行为，平台不承担任何承诺以及保证。此平台及所有行为均属个人自愿公益行为，不收取任何费用。</p>
</div>

<div style="padding-top:40px;padding-bottom: calc(10px + env(safe-area-inset-bottom));text-align: center;">
  <p>志愿者组织：代表月亮消灭病毒志愿组</p>
</div>

