<section class="hero is-info is-medium bg_banner">
  <div class="hero-body container has-text-centered">
    <h1 class="title">One.Work</h1>
    <h2 class="subtitle">
      Any<span class="has-text-warning">One</span>, Anytime, Anywhere, Any <span class="has-text-warning">Work</span>
    </h2>
    <h2 class="subtitle">你唯一的工作方式</h2>
  </div>
</section>

<section class="hero is-info is-medium bg2">

  <div class="ui divided container items">
    <div class="item">
      <div class="center image">
      </div>
      <div class="middle aligned content">
        <a class="header"></a>
        <div class="description">
        </div>
      </div>
    </div>
  </div>

</section>
