<div class="weui-article">
  <%= image_tag 'https://assets.one.work/tip_01.jpeg' %>
  <%= image_tag 'https://assets.one.work/tip_02.jpeg' %>
  <%= image_tag 'https://assets.one.work/tip_03.jpeg' %>
</div>
