<div class="ui segment breadcrumb">
  <%= link_to '返回', my_spaces_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">编辑</div>
</div>

<div class="ui segment">
  <%= render 'form' %>
</div>
