/* site */
.ui.vertical.menu {
  border: none;
  box-shadow: none;
}
header.ui.borderless.menu {
  border-radius: 0;
  border-top: none;
  border-width: unset;
}

.ui.attached.vertical.menu,
.ui.attached.one.item.menu {
  margin-left: 0!important;
  margin-right: 0!important;
  width: 100%;
}
