.ui.side .content {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.ui.inverted.side .sidebar {
  border-right: #eee solid 1px;
}

.ui.inverted.side > .content {
  background: #eee;
  display: flex;
  flex-direction: column;
}

.ui.inverted.side > .content > .main {
  flex-grow: 1;
  flex-shrink: 0;
}
.ui.inverted.side > .content > footer {
  flex-shrink: 1;
}
