/*
*= require work-design-ui/dist/stylesheets/semantic
*= require expand
*= require_self
*/

.icon.link {
  cursor: pointer;
  font-size: 1.3em;
}

button.reset {
  border: none;
  padding: 0;
  cursor: pointer;
}
