defaults: &defaults
  host: http://staging.one.work/
  admin_email:
    - mingyuan0715@foxmail.com
development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults

