<div style="text-align: center;">
  <a href="javascript:;" id="datePickerBtn" class="weui-btn weui-btn_mini weui-btn_default">日期晚于</a>
  <%= link_to '武汉市内', { 'from_area.parent_id': 1 }, class: 'weui-btn weui-btn_mini weui-btn_default' %>
  <%= link_to '重置搜索', filter_params(except: ['pick_on-gte', 'from_area.parent_id']), class: 'weui-btn weui-btn_mini weui-btn_default' %>
</div>

<script>
  document.querySelector('#datePickerBtn').addEventListener('click', function () {
    weui.datePicker({
      start: '2020-02-01',
      end: '2020-02-31',
      cron: '* * *',
      defaultValue: [2020, 2, 1],
      onChange: function onChange(result) {
        console.log(result)
      },
      onConfirm: function onConfirm(result) {
        var search_url = new URL(location.origin + location.pathname)
        search_url.searchParams.set('pick_on-gte', result)
        location = search_url
      },
      id: 'datePicker',
      title: '日期选择器'
    })
  })
</script>
