<div>
  <%= link_to '发布需求', new_my_requirement_path, class: 'weui-btn weui-btn_primary' %>
</div>

<div class="weui-form-preview">
  <% @requirements.each do |requirement| %>
    <div class="weui-form-preview__bd">
      <%= render partial: 'requirement', locals: { requirement: requirement } %>
    </div>
    <div class="weui-form-preview__ft">
      <%= link_to '修改', edit_my_requirement_path(requirement), class: 'weui-form-preview__btn weui-form-preview__btn_primary' %>
    </div>
  <% end %>
</div>

<%= paginate @requirements %>
