[Unit]
Description=redis
After=network.target

[Service]
Type=forking
PIDFile=/var/run/redis_16379.pid
ExecStart=/opt/redis-5.0.7/src/redis-server
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/opt/redis-5.0.7/src/redis-cli -p 16379 shutdown
PrivateTmp=true

[Install]
WantedBy=multi-user.target
