<div class="item">
  <a class="title">
    <i class="coffee icon"></i>
    <span>空间管理</span>
  </a>
  <div class="menu content">
    <%= link_to '空间分类', admin_space_taxons_path, class: active_helper(controllers: ['admin/space_taxons']) %>
  </div>
</div>
