<div class="weui-tabbar">
  <%= link_to product_taxons_path, class: 'weui-tabbar__item' do %>
    <i class="fas fa-user-alt weui-tabbar__icon"></i>
    <div class="weui-tabbar__label">产品</div>
  <% end %>
  <%= link_to '/my/tutelages', class: 'weui-tabbar__item' do %>
    <i class="fas fa-user-alt weui-tabbar__icon"></i>
    <div class="weui-tabbar__label">我的宝贝</div>
  <% end %>
  <%= link_to '/my/user', class: 'weui-tabbar__item' do %>
    <i class="fas fa-user-alt weui-tabbar__icon"></i>
    <div class="weui-tabbar__label">个人中心</div>
  <% end %>
</div>
