<div class="weui-tabbar">
  <% 4.times.each do %>
  <%= link_to 'wexin', class: 'weui-tabbar__item' do %>
    <i class="fas fa-user-alt weui-tabbar__icon"></i>
    <div class="weui-tabbar__label">我的</div>
  <% end %>
  <% end %>
</div>
