<div class="ui segment">
  <div class="ui vertical segment">
  <a class="ui tag label">
    价格：¥<%= @facilitate.price %>
  </a>
  </div>
</div>

<div class="ui menu vertical">
  <div class="item"><%= button_to '在线购买', my_orders_path(facilitate_id: @facilitate.id), class: 'ui button primary' %></div>
  <div class="item"><%= link_to '申请为供应商', new_my_facilitate_provider_path(facilitate_id: @facilitate), class: 'ui mini primary button' %></div>
</div>