<footer class="footer">
  <div class="container">
    <div class="divided row">

    </div>
    <div class="content has-text-centered">
      <div class="">©<%= Date.today.year %> <%= t('site_name') %> All Rights Reserved.</div>
      <div>有个想法武汉软件咨询有限公司 17786036813</div>
      <div>鄂ICP备17011451号-2</div>
    </div>
  </div>

  <% if Rails.env.production? %>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=62343993" charset="UTF-8" data-turbolinks-eval="false"></script>
  <% end %>

</footer>
