<footer class="footer">
  <div class="container">
    <div class="divided row">

    </div>
    <div class="content has-text-centered">
      <div class="">©<%= Date.today.year %> <%= t('site_name') %> All Rights Reserved.</div>
      <div>有个想法武汉软件咨询有限公司</div>
      <p class="has-text-danger">Contact Me: contact@one.work Or +8618571856813</p>
      <div>鄂ICP备20004085号-3</div>
    </div>
  </div>
</footer>
