<footer class="footer">
  <div class="container">
    <div class="divided row">

    </div>
    <div class="content has-text-centered">
      <div class="">©<%= Date.today.year %> <%= t('site_name') %> All Rights Reserved.</div>
      <div>有个想法武汉软件咨询有限公司</div>
      <div class="has-text-danger">Email: contact@one.work</div>
      <div class="has-text-danger">Mobile: +8618571856813</div>
      <div>鄂ICP备20004085号-3</div>
    </div>
  </div>
</footer>
