<div class="slidepanel hidden-xs">
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p>
        <i class="icon-desktop text-info"></i><span>联系方式：400-770-7358</span>
        <i class="icon-envelope-alt text-info"></i><span>something@gmail.com</span>
      </p>
    </div>
    <div class="col-sm-4">
      <p class="text-right">
      <span><a class="text-info" href="#"><i class="icon-twitter icon-large"></i></a></span>
      <span><a class="text-danger" href="#"><i class="icon-google-plus icon-large"></i></a></span>
      </p>
    </div>
  </div>
</div>
</div>
