<div class="sixteen wide column">

  <div class="ui segment breadcrumb">
    <%= link_to '返回', admin_space_taxons_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">新增</div>
  </div>

  <div class="ui segment">
    <%= render 'form' %>
  </div>

</div>

