<div class="ui segment">
  <div class="ui vertical segment">
  <a class="ui tag label">
    价格：¥<%= @facilitate.price %>
  </a>
  </div>
</div>

<div class="ui menu vertical">
  <div class="item"><%= link_to '在线购买', my_trade_items_path(good_type: @facilitate.class.name, good_id: @facilitate.id), method: :post, class: 'button is-primary' %></div>
  <% if current_organ && !@facilitate.good_providers.exists?(provider_id: current_organ.id) %>
  <div class="item">
    <%= link_to '申请为供应商', new_my_good_provider_path(good_type: 'Facilitate', good_id: @facilitate.id), class: 'button is-link is-small' %>
  </div>
  <% end %>
</div>
